* {
	box-sizing: border-box;
}
html {
	overflow: hidden;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0 auto;
	max-width: 1280px;
	background-color: #d8b036;
	background-image: url(../img/global-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
}
a {
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 0 20px #000;
}
a:hover {
	color: #ff0000;
}
p {
	color: #cccccc;
}
.container {
	display: flex;
}
.header {
	overflow: hidden;
	margin-bottom: 30px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	background-color: rgba(0, 0, 0, 0.5);
}
.header-logo {
	text-align: center;
}
.header-logo__image {
	display: block;
	margin: 15px auto;
	padding: 30px;
	max-width: 400px;
	width: 100%;
}
.header-logo__title {
	display: block;
	margin: 6px 0;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 2rem;
	line-height: 3rem;
}
.header-logo__description {
	display: block;
	margin: 6px 15px 15px;
	color: #fff;
	letter-spacing: 3px;	
	font-size: 1.4rem;
	line-height: 2.1rem;
}
.header-menu {
	background-color: rgba(0, 0, 0, 0.2);
}
.header-menu__list {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}
.header-menu__list.active {
	display: block;
}
.header-menu__item a{
	display: block;
	margin: 5px;
	padding: 10px 15px;
	border-radius: 4px;
}
.header-menu__item a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.header-menu__item.active a  {
	background-color: rgba(0, 0, 0, 0.3);
}
.header-menu__btn {
	position: relative;
	display: none;
	margin: 10px auto 3px;
	padding: 10px 0;
	width: 40px;
	height: 36px;
	cursor: pointer;
	transition: 0.5s ease-in-out;
	transform: rotate(0deg);
}
.header-menu__btn span {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	background: #fff;
	opacity: 1;
	transition: 0.25s ease-in-out;
	transform: rotate(0deg);
}
.header-menu__btn span:nth-child(1) {
	top: 0px;
}
.header-menu__btn span:nth-child(2) {
	top: 12px;
}
.header-menu__btn span:nth-child(3) {
	top: 24px;
}
.header-menu__btn.open span:nth-child(1) {
	top: 12px;
	transform: rotate(135deg);
}
.header-menu__btn.open span:nth-child(2) {
	left: -60px;
	opacity: 0;
}
.header-menu__btn.open span:nth-child(3) {
	top: 12px;
	transform: rotate(-135deg);
}
.main {
	flex-grow: 1;
	padding: 0 20px;
	min-height: calc(100vh - 199px);	
	width: calc(100% - 490px);
}
.breadcrumbs {
	padding: 10px 15px;
	border-radius: 7px;
	background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	color: #cccccc;
	text-align: right;
}
.breadcrumbs i{
	padding-right: 10px;
	padding-left: 15px;
}
.content__title {
	padding: 10px 15px;
	border-radius: 7px;
	background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	color: #fff;
}
.content__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	width: 100%;
}
.content-item {
	flex: 1 1 calc(33.33% - 25px);
	margin: 0 20px 25px 0;
	min-height: 100px;
	width: 100%;
	border: 5px solid rgba(0, 0, 0, 0.3);
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.5);
}
.content-item:nth-child(3n) {
	margin-right: 0;
}
.content-item__image{
	position: relative;
	overflow: hidden;
}
.content-item__image h3{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding: 5px;
	width: 100%;
	height: 27px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	transition: background-color 0.5s;
}
.content-item__image img{
	display: block;
	max-width: 100%;
}
.content-item__image a:hover h3{
	background-color: rgba(0, 0, 0, 0.5);
}
.content-item__description {
	position: absolute;
	bottom: -100%;
	left: 0;
	margin: 0;
	padding: 15px;
	width: 100%;
	height: calc(100% - 27px);
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	transition: bottom 0.5s ease-out;
}
.content-item__image a:hover .content-item__description{
	bottom: 0;
}
.left {
	order: -1;
	min-height: 100px;
	width: 250px;
}
.widget {
	margin: 0 0 20px;
	padding: 10px 20px;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #eee;
}
.widget h4 {
	margin-top: 10px;
	padding-bottom: 15px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
	letter-spacing: 3px;
	line-height: 1.5rem;
}
.widget p {
	line-height: 2rem;
}
.widget-search__form {
	display: flex;
	margin-bottom: 10px;
}
.widget-search__form input {
	flex-grow: 1;
	padding-left: 10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-right: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: rgba(255, 255, 255, 0.15);
	color: #fff;
}
.widget-search__form input::placeholder {
	color: #fff;
}
.widget-search__form input:focus {
	outline: none;
}
.widget-search__form button {
	width: 33px;
	height: 33px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: rgba(255, 255, 255, 0.15);
	color: #fff;
}
.widget-nav__category {
	padding: 0;
	list-style-type: none;
}
.widget-nav__item a {
	display: block;
	padding: 10px 0;
	transition: 0.5s;
}
.widget-nav__item a:hover {
	padding-left: 10px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
}
.right {
	display: flex;
	min-height: 100px;
	width: 230px;
}
.widget-news {
	height: fit-content;
}
.widget-news__content {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
}
.widget-news__item {
	width: 190px;
}
.widget-news__item h4 {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	border-bottom: 0;
	color: #fff;
	text-align: left;
	text-overflow: ellipsis;
	text-shadow: 0px 0px 5px #000000;
	white-space: nowrap;
	letter-spacing: 0;
	line-height: 1.5em;
	transition: color 0.3s;
}
.widget-news__item__box {
	display: flex;
	justify-content: space-between;
	margin: 7px 0 10px;
}
.widget-news__item__box:last-child {
	margin-bottom: 0;	
}
.widget-news__item__box__image {
	overflow: hidden;
	margin: 0 10px 10px 0;
	width: 75px;
	height: 75px;
	border-radius: 4px;
}
.widget-news__item__box__image img {
	width: 100%;
	transition: transform 0.3s;
}
.widget-news__item__box__description {
	display: -webkit-box;
	overflow: hidden;  
	width: calc(100% - 85px);
	height: 75px;
	color: #cccccc;
	text-shadow: 0px 0px 5px #000000;
	font-size: 12px;
	line-height: 18px;
	transition: color 0.3s;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.widget-news__item a:hover h4{
	color: #e12727;
}
.widget-news__item a:hover .widget-news__item__box__description{
	color: #fff;
}
.widget-news__item a:hover img{
	transform: scale(1.2);
}
.footer {
	min-height: 100px;
}
.footer-top {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	width: 100%;
}
.footer-widget {
	flex: 1 1 calc(25% - 20px);
	margin: 0 20px 20px 0;
	padding: 10px 15px;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #eee;
}
.footer-widget h3 {
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.footer-widget:last-child {
	margin-right: 0;
}
.footer-bottom {
	margin-bottom: 20px;
	text-align: center;
}
.footer-bottom h3 {
	margin: 0 auto;
	max-width: 300px;
}

@media (max-width: 1340px) {
	body {
		padding: 0 20px;
	}
}
@media (max-width: 1200px) {
	.container {
		flex-flow: wrap;
	}
	.right {
		width: 100%;
	}
	.widget {
		width: 100%;	
	}
	.widget-news__item {
		width: 100%;
	}
	.footer-top {
		flex-flow: wrap;
	}
	.footer-widget {
		flex: 1 1 calc(50% - 20px);
	}
	.footer-widget:nth-child(2n) {
		margin-right: 0;
	}
}
@media (max-width: 960px) {
	.main {
		padding: 0;
		width: 100%;
	}
	.right {
		padding-left: 10px;
		width: 50%;
	}
	.left {
		order: 0;
		padding-right: 10px;
		width: 50%;
	}
}
@media (max-width: 768px) {
	.right {
		order: 1;
		padding-left: 0;
		width: 100%;
	}
	.left {
		padding-right: 0;
		width: 100%;
	}
	.header-menu {
		display: table;
		width: 100%;
	}
	.header-menu__list {
		display: none;
		flex-direction: column;
		text-align: center;
	}
	.header-menu__item a{
		margin: 0;
	}
	.header-menu__btn {
		display: block;
	}
}
@media (max-width: 640px) {
	.header-logo__image {
		display: none;
	}
	.content__body {
		flex-direction: column;
	}
	.content-item {
		margin-right: 0;
	}
	.content-item__image img {
		width: 100%;
	}
	.footer-top {
		flex-direction: column;
	}
	.footer-widget {
		margin-right: 0;
	}
}